body {
	font-family: Arial;
}

/* Centered the h1 headers */
h1 {
  text-align: center;
}

/* Centered the h2 headers */
h2 {
	text-align: center;
}

/* Use FlexBox to create two columns and customize */
.container {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 60%;
}

.right {
  flex: 40%;
}

/* Adjust the length of placeholders */
#cx {
  width: 12ch;
}

#cy {
  width: 12ch;
}

/* Customerize the button */
button {
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  color: black;
  border-color: royalblue;
  border-radius: 5px;
  border-style: double;
  padding: 10px;
}

/* A class called in the javascript to toggle the border */
.selected {
  stroke-width: 4px;
  stroke: skyblue;
}

/* Initalize tooltip styles */
.tooltip {
  position: absolute;
  background-color: grey;
  border: solid;
  padding: 5px;
}

/* Initalize colors for points and bars in plots */
.point {
  fill: lightseagreen;
}

.bar {
  fill: lightseagreen;
}